.hints {
  position: absolute;
  bottom: 10px;
  left: 10px;
}

body {
  margin: 10px;
}

.stdout-textarea {
  position: absolute;
  bottom: 50px;
  left: 10px;
  width: 400px;
}

.mysql-demon {
  position: absolute;
  right: 10px;
  top: 10px;
}

.sync-files {
  position: absolute;
  right: 0;
  top: 40px;
}